<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd  ">

    <http>
        <intercept-url pattern="/scores" access="ROLE_USER" />
        <intercept-url pattern="/players/alive" access="ROLE_USER" />
        <intercept-url pattern="/voteable" access="ROLE_USER" />
        <intercept-url pattern="/vote" access="ROLE_USER" />
        <intercept-url pattern="/voteForPlayer" access="ROLE_USER" />
         <intercept-url pattern="/kill" access="ROLE_USER" />
         <intercept-url pattern="/killPlayer" access="ROLE_USER" />
        <intercept-url pattern="/location" access="ROLE_USER" />
        <intercept-url pattern="/nearby" access="ROLE_USER" />
         <intercept-url pattern="/info" access="ROLE_USER" />
         <intercept-url pattern="/listOfPlayers" access="ROLE_USER" />
         <intercept-url pattern="/delete" access="ROLE_USER" />
         <intercept-url pattern="/getVotes" access="ROLE_USER" />
         <intercept-url pattern="/getKills" access="ROLE_USER" />
         <intercept-url pattern="/deleteAccount" access="ROLE_USER" />
         <intercept-url pattern="/updateAccount" access="ROLE_USER" />
         <intercept-url pattern="/gameStats" access="ROLE_USER" />
        <intercept-url pattern="/start" access="ROLE_USER" />
        <intercept-url pattern="/nightToDay" access="ROLE_ADMIN" />
        <intercept-url pattern="/dayToNight" access="ROLE_ADMIN" />
        <http-basic /> 
        <logout logout-success-url="/home" logout-url="/logout" invalidate-session="true"/>
    </http>
    
    	   

	<authentication-manager>
		<authentication-provider user-service-ref="userDAO"> 
		<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>
	
	    <beans:bean id="encoder" 
    class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

</beans:beans>